# list and its deafult functions

In [ ]:
extracting individual elements

In [1]:
l1 = [1,"a",2,"b",3,"c"]
l1[1]

'a'

In [ ]:
l1 = [1,"a",2,"b",3,"c"]

In [2]:
l1[2:5]

[2, 'b', 3]

In [ ]:
modifying a list

In [5]:
l1 = [1,"a",2,"b",3,"c"]
l1[0] = 100
print(l1)

[100, 'a', 2, 'b', 3, 'c']

In [ ]:
popping the last element

In [6]:
l1 = [1,"a",2,"b",3,"c"]
l1.pop()
l1

[1, 'a', 2, 'b', 3]

In [ ]:
appending a new element

In [8]:
l1 = [1,"a",2,"b",3,"c"]
l1.append("sparta")
l1

[1, 'a', 2, 'b', 3, 'c', 'sparta']

In [ ]:
reversing elements of a list

In [10]:
l1 = [1,"a",2,"b",3,"c"]
l1.reverse()
l1

['c', 3, 'b', 2, 'a', 1]

In [ ]:
inserting element at a speccified index

In [11]:
l1 = [1,"a",2,"b",3,"c"]
l1.insert(1,"sparta")
l1

[1, 'sparta', 'a', 2, 'b', 3, 'c']

In [ ]:
sorting a list

In [12]:
l1 = ["mango","banana","guava","apple"]
l1.sort()
l1

['apple', 'banana', 'guava', 'mango']

In [ ]:
concatenating list

In [13]:
l1 = [1,2,3]
l2 = ["a","b","c"]
l1+l2

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
repeating list

In [14]:
l1 = [1,"a",2,"b",3,"c"]
l1*3

[1, 'a', 2, 'b', 3, 'c', 1, 'a', 2, 'b', 3, 'c', 1, 'a', 2, 'b', 3, 'c']

# Dictionary and its deafult functions

In [ ]:
extracting keys

In [15]:
fruit = {"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit.keys()

dict_keys(['Apple', 'Orange', 'Banana', 'Guava'])

In [ ]:
extracting values

In [16]:
fruit = {"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit.values()

dict_values([10, 20, 30, 40])

In [ ]:
adding a new element

In [17]:
fruit = {"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit["Mango"] = 50
fruit

{'Apple': 10, 'Orange': 20, 'Banana': 30, 'Guava': 40, 'Mango': 50}

In [ ]:
changing an existing element

In [18]:
fruit = {"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit["Apple"] = 1001
fruit

{'Apple': 1001, 'Orange': 20, 'Banana': 30, 'Guava': 40}

In [ ]:
popping an element

In [20]:
fruit = {"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit.pop("Orange")
fruit

{'Apple': 10, 'Banana': 30, 'Guava': 40}

# Sets and its default functions

In [ ]:
update one dictionarys element with another

In [21]:
s1 = {1,"a",True,2,"b",False}
s1.add("Hello")
s1

{1, 2, False, 'Hello', 'a', 'b'}

In [ ]:
updating multiple elements

In [22]:
s1 = {1,"a",True,2,"b",False}
s1.update([10,20,30])
s1

{1, 10, 2, 20, 30, False, 'a', 'b'}

In [ ]:
removing an element

In [24]:
s1 = {1,"a",True,2,"b",False}
s1.remove("b")
s1

{1, 2, False, 'a'}

In [ ]:
union of two sets

In [25]:
s1 = {1,2,3}
s2 = {"a","b","c"}
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
intersection of two sets

In [27]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9}
s1.intersection(s2)

{5, 6}

# Tuple and its default functions

In [ ]:
finding lenth of a tuple

In [28]:
tup1 = (1,"a",True,2,"b",False)
len(tup1)

6

In [ ]:
concatenating tuple

In [29]:
tup1 = (1,2,3)
tup2 = (4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [ ]:
repeating tuple elements

In [30]:
tup1 = (1,2,3)
tup1*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
repeating and concatenating

In [31]:
tup1 = ('sparta',300)
tup2 = (4,5,6)
tup1*3+tup2

('sparta', 300, 'sparta', 300, 'sparta', 300, 4, 5, 6)

In [ ]:
minimum value

In [33]:
tup1 = (1,2,3,4,5,6)
min(tup1)

1

In [ ]:
maximum value

In [35]:
tup1 = (1,2,3,4,5,6,7,8,9)
max(tup1)

9

# strings and its default functions

In [ ]:
extracting individual character

In [37]:
my_string = "My Name Is Naveen"
my_string[0]

'M'

In [ ]:
for last character extracting

In [38]:
my_string = "My Name Is Naveen"
my_string[-1]

'n'

In [ ]:
finding length of string

In [39]:
my_string = "My Name Is Naveen"
len(my_string)

17

In [ ]:
converting string to lower

In [40]:
my_string = "My Name Is Naveen"
my_string.lower()

'my name is naveen'

In [ ]:
converting string to upper

In [41]:
my_string = "My Name Is Naveen"
my_string.upper()

'MY NAME IS NAVEEN'